# Machine-specific variables for chezmoi templates
# Edit these values for each machine before running: chezmoi apply

[data]
  # SSH key and hosts for .zshrc aliases (used in dot_zshrc.tmpl)
  ssh_key_path = "~/Documents/kerno/Antoine.pem"
  ssh_host_lf = "ec2-user@ec2-3-250-128-234.eu-west-1.compute.amazonaws.com"
  ssh_host_bench = "ec2-user@ec2-108-130-110-221.eu-west-1.compute.amazonaws.com"
